@keyframes square-360-deg {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  transform: rotate(-15deg);
  animation: square-360-deg 20s linear infinite;
}
