@font-face {
  src: url(../../vendor/fonts/open_sans/OpenSans-Regular.ttf);
  font-family: 'Open Sans';
}

@font-face {
  src: url(../../vendor/fonts/open_sans/OpenSans-Bold.ttf);
  font-family: 'Open Sans';
  font-weight: bold;
}

@font-face {
  src: url(../../vendor/fonts/open_sans/OpenSans-Italic.ttf);
  font-family: 'Open Sans';
  font-style: italic;
}

@font-face {
  src: url(../../vendor/fonts/open_sans/OpenSans-BoldItalic.ttf);
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: italic;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Open Sans', Arial, sans-serif;
  box-sizing: border-box;
}
